{% extends 'base.html' %}

{% block content %}



<div class="login-container p-3">
    <h1>Sign up</h1>
    <div class="card p-3">
        <form method="post" class="form-horizontal" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.html_name }}" class="col-sm-1 col-form-label">{{ field.label_tag }}</label>
                    <div class="col-sm-11">
                    <input type="{{field.widget_type}}" class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="" placeholder="{{field.label}}">
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign up</button><a class="ml-3 btn btn-secondary" href="{% url 'login' %}">Login instead</a>
        </form>
    </div>
    <a class="link-secondary" href="{% url 'index' %}">Back...</a>
</div>

{% endblock %}