/* General page style */
* {
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
}
body {
    height: 100%;
    width: 960px;
    margin: 0 auto;
}
main {
    margin-top: 5vh;
}
h1 {
    margin-bottom: 15px;
}

/* General object style */
.btn-primary {
    background: #17A2B8;
    border-color: #17A2B8;
}
.btn-primary:hover {
    background: #128596;
    border-color: #128596;
}

/* Element style */
#new-roary {
    background-color: #F8F9FA;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
}
#new-roary-header {
    background: #F0F1F2;
    border-bottom: 1px solid #DFDFDF;
    padding: 12px 20px;
}
#new-roary-header p {
    margin: 0;
}
#new-roary-content {
    padding: 20px;
}

#roary-list {
    margin-top: 15px;
    margin-bottom: 150px;
}
.roary-list-item {
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 15px;
}
.roary-list-item-head {
    font-weight: 500;
    font-size: 20px;
    display: inline;
}
.roary-list-item-date {
    float: right;
    display: inline;
    color: #6C757D;
}
.roary-list-item-msg {
    margin-top: 10px;
}