
<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<nav class="navbar navbar-default fixed-top shadow-sm p-3 mb-2 bg-white rounded">
    <div class="container-fluid">
        <div class="navbar-header">  
            <div class="navbar-brand">Roary</div>
        </div>
        <div>
            {% if user.is_authenticated %}
                <i class="pr-1 bi bi-person"></i></span><span class="pr-3">Hi {{ user.username | escape }}!</span>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-secondary">Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
    <div  class="container roary-container">
        <div class="roary-list-item">
            <form action="postMessage" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3" name="message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary" value="postMessage">Post Message</button>               
            </form>
        </div>
    </div>
    <div class="container roary-selector">
            <select class="custom-select" id="roary-select">
                <option value="1" selected>Show all </option>
                <option value="2">Show favorites</option>
            </select>
    </div>
    <div class="container" id="roary-container">

    </div>
{% else %}
    <div class="container roary-container" id="roary-container">

    </div>
{% endif %}

<script>
      
    let SHOW_ONLY_FAVORITES = false;

    function createRoary(roary){

        const roaryListItem = document.createElement("DIV"); 
        roaryListItem.className="roary-list-item";

        const roaryListItemHead = document.createElement("DIV"); 
        roaryListItemHead.className="roary-list-item-head";
        roaryListItemHead.innerHTML= roary.username;

        roaryListItem.appendChild(roaryListItemHead);

        const roaryListItemDate = document.createElement("DIV"); 
        roaryListItemDate.className="roary-list-item-date";
        roaryListItemDate.innerHTML= roary.date;

        roaryListItem.appendChild(roaryListItemDate);

        const roaryListItemMsg = document.createElement("DIV"); 
        roaryListItemMsg.className="roary-list-item-msg";
        roaryListItemMsg.innerHTML= roary.post;

        roaryListItem.appendChild(roaryListItemMsg);

        const roaryListItemLikes = document.createElement("DIV"); 
        roaryListItemLikes.innerHTML= "Likes:" + roary.likes;
        if(roary.userHasLiked){
            roaryListItemLikes.className="badge badge-pill badge-primary like-button";
        }else{
            roaryListItemLikes.className="badge badge-pill badge-secondary like-button";
        }
        roaryListItemLikes.addEventListener("click", () => {handleLike(roary.id);});

        roaryListItem.appendChild(roaryListItemLikes);

        return roaryListItem;
    }

    function handleLike(postId){
        console.log("Like for the post:", postId)
        alert("Posted liked: "+postId);
        // TODO: make a request to the server and update the like state 
        // Care: it is required to handle an unauthenticated user -> perhpas give an error as response and handle it in the frontend 
    }

    function updateRoarys(){
        if(SHOW_ONLY_FAVORITES){
            fetch('favorites')
            .then(response => response.json())
            .then(roarys => 
            {
                // remove old posts and create new ones
                const roary_container = document.getElementById("roary-container");
                roary_container.innerHTML = "";
                for(let roary of roarys){
                    roary_container.appendChild(createRoary(roary));
                }
            });
        }else{
            fetch('roars')
            .then(response => response.json())
            .then(roarys => 
            {
                // remove old posts and create new ones
                const roary_container = document.getElementById("roary-container");
                roary_container.innerHTML = "";
                for(let roary of roarys){
                    roary_container.appendChild(createRoary(roary));
                }
            });
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        updateRoarys();

        const selectElement = document.getElementById('roary-select');

        selectElement.addEventListener('change', (event) => {
            if(event.target.value == 2){
                SHOW_ONLY_FAVORITES = true;
            }else{
                SHOW_ONLY_FAVORITES = false;
            }

            updateRoarys();
        });

        setInterval(() => {
            updateRoarys();
        }, 5000);
    }, false);

</script>
{% endblock %}