
<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<nav class="navbar navbar-default fixed-top shadow-sm p-3 mb-2 bg-white rounded">
    <div class="container-fluid">
        <div class="navbar-header">  
            <div class="navbar-brand">Roary</div>
        </div>
        <div>
            {% if user.is_authenticated %}
                <i class="pr-1 bi bi-person"></i></span><span class="pr-3">Hi {{ user.username }}!</span>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-secondary">Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container roary-container" id="roary-container">

</div>
<script>
      
      function createRoary(roary){

        const roaryListItem = document.createElement("DIV"); 
        roaryListItem.className="roary-list-item";

        const roaryListItemHead = document.createElement("DIV"); 
        roaryListItemHead.className="roary-list-item-head";
        roaryListItemHead.innerHTML= roary.username;

        roaryListItem.appendChild(roaryListItemHead);

        const roaryListItemDate = document.createElement("DIV"); 
        roaryListItemDate.className="roary-list-item-date";
        roaryListItemDate.innerHTML= roary.date;

        roaryListItem.appendChild(roaryListItemDate);

        const roaryListItemMsg = document.createElement("DIV"); 
        roaryListItemMsg.className="roary-list-item-msg";
        roaryListItemMsg.innerHTML= roary.post;

        roaryListItem.appendChild(roaryListItemMsg);

        return roaryListItem;
    }

    function updateRoarys(){
        fetch('roars')
        .then(response => response.json())
        .then(roarys => 
        {
            // remove old posts and create new ones

            const roary_container = document.getElementById("roary-container");
            roary_container.innerHTML = "";
            for(let roary of roarys){
                roary_container.appendChild(createRoary(roary));
            }
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        updateRoarys();

        setInterval(() => {
            updateRoarys();
        }, 5000);
    }, false);

</script>
{% endblock %}